body {
  background-image: url('brsimg.jpg'); /* Replace 'your-background-image.jpg' with the path to your background image */
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

label {
  margin-right: 10px;
}

input[type="text"],
input[type="date"],
button[type="button"] {
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button[type="button"] {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  margin-left: 10px;
}

button[type="button"]:hover {
  background-color: #45a049;
}

#result {
  margin-top: 30px;
}
/* Global styles */
body {
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Form styles */
form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

label {
  margin-right: 10px;
  font-size: 20px;
  font-weight: bold;
}

input[type="text"],
input[type="date"],
button[type="submit"] {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
  margin-bottom: 10px;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

/* Table styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;
}

th, td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ccc;
}

th {
  background-color: #eee;
  font-size: 18px;
}

td {
  font-size: 16px;
}

/* Alert styles */
.alert {
  padding: 10px;
  background-color: #f44336;
  color: white;
  font-weight: bold;
  margin-bottom: 20px;
  border-radius: 5px;
}
body {
  background-color: #FEFEFE; /* Replace with the color code of your choice */
}
